@import "../scss/fonts";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
image {
  object-fit: cover;
  display: flex;
}
body {
  font-family: "Exo 2";
}
.container {
  padding: 1rem;
  width: 100%;
  max-width: 1242px;
  margin: 0 auto;
}
// HEADER
.header-content {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__title {
  color: #363738;
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 6.5rem;
  text-align: left;
}

.header__description {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  color: #6b6b6c;
  font-family: "PT Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.header__text {
  color: #363738;
  font-family: "PT Sans";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-align: left;
}
.header__img {
  padding-top: 10rem;
  padding-bottom: 6.7rem;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 690px;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header__box {
    padding-top: 117px;
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center;
  }
  .header__title {
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 5.5rem;
    text-align: center;
  }
  .header__description {
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 4.9rem;
    padding-bottom: 4.4rem;
  }
  .header__description p {
    display: flex;
    text-align: center;
  }
  .header__img {
    padding-top: 73px;
    padding-bottom: 41px;
  }
}
@media screen and (max-width: 376px) {
  .container {
    padding: 0 1.5rem;
    max-width: 345px;
  }
  .header-content {
    text-align: left;
  }
  .header__box {
    padding-top: 75px;
    align-items: flex-start;
    display: flex;
    text-align: left;
  }
  .header__title {
    align-items: flex-start;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
  }
  .header__description {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    align-items: flex-start;
  }
  .header__description p {
    display: flex;
    text-align: left;
  }
  .header__img {
    padding-top: 40px;
    padding-bottom: 56px;
  }
}
// SECTION-1
.section-1__card {
  padding: 40px 122px 56px 80px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.section-1__box {
  max-width: 228px;
}
hr {
  border: 1px solid #d7d7dd;
}
.box__card-title {
  padding: 24px 0 16px 0;
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
}
.box__card-description {
  color: #6b6b6c;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .section-1__card {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;
  }
  .section-1__box {
    padding: 32px 0 40px 32px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    display: flex;
    max-width: 690px;
    align-items: center;
    gap: 32px;
  }
  hr {
    display: none;
  }
  .box__card-title {
    padding: 24px 0 16px 0;
    font-family: Exo 2;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #363738;
  }
  .box__card-description {
    max-width: 394px;
    color: #6b6b6c;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}
@media screen and (max-width: 375px) {
  .section-1__card {
    padding: 24px 27px 24px 32px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.4rem;
  }
  .section-1__box {
    padding: 0;
    max-width: none;
    box-shadow: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    max-width: 286px;
    gap: 0;
    align-items: flex-start;
  }
  hr {
    display: none;
  }
  .box__card-title {
    font-family: Exo 2;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.3px;
    text-align: left;
  }
  .box__card-description {
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
  }
}
// SECTION-2
.section-2 {
  padding-top: 72px;
  padding-bottom: 120px;
}

.section-2__card {
  gap: 62px 176px;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  border-radius: 8px;
  padding: 10px;
}
.section-2__box {
  gap: 40px;
  max-width: 447px;
  display: flex;
}
.box-2__card-title {
  padding-bottom: 16px;
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
}
.box-2__card-description {
  color: #6b6b6c;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
// SECTION-4
.section-4__content {
  padding-bottom: 12rem;
}
.section-4__title {
  font-family: Exo 2;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #363738;
}
.section-4__description {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6b6b6c;
  padding-top: 32px;
  padding-bottom: 56px;
  max-width: 667px;
}

.section-4__box {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.section-4__card {
  overflow: hidden;

  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.section-4__card-description {
  padding: 24px 34px 32px 32px;
}
.section-4__card-title {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #363738;
}
.section-4__card-text {
  padding-top: 16px;
  padding-bottom: 32px;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6b6b6c;
}
.section-4__card-text2 {
  display: inline-block;
  border-bottom: 3px solid #ffce50;
  font-family: Exo 2;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #363738;
}

@media screen and (max-width: 768px) {
  .section-2 {
    padding-top: 72px;
    padding-bottom: 120px;
  }

  .section-2__card {
    gap: 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 8px;
    padding: 10px;
  }
  .section-2__box {
    gap: 40px;
    max-width: 537px;
    display: flex;
  }
  .box-2__card-title {
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
  }
  .box-2__card-description {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .section-4__box {
    display: flex;
    flex-direction: column;
  }
  .section-4__title {
    font-family: Exo 2;
    font-size: 44px;
    font-weight: 600;
    line-height: 55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-4__description {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-4__card-title {
    font-family: Exo 2;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-5__text {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-4__card-text2 {
    font-family: Exo 2;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-4__box :nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .section-4__box :nth-child(2) {
    display: none;
  }
  .section-4__box :nth-child(3) {
    display: none;
  }
  .section-4__title {
    font-family: Exo 2;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-4__description {
    font-family: PT Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-4__card-title {
    font-family: Exo 2;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.3px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-5__text {
    font-family: PT Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.section-5__main-title {
  padding-bottom: 4.8rem;
  color: #363738;
  font-family: Exo 2;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  text-underline-position: from-font;
}
.section-5__content {
  padding-left: 49px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 20px;
}
.section-5__card {
  padding-left: 9.6rem;
  align-items: center;
  box-shadow: 0px 4px 15px 0px #0000001f;
  gap: 56px;
  display: flex;
}
.section-5__content-img {
  border-radius: 20px;
}
.section-5__description {
  padding-top: 3.2rem;
  padding-bottom: 5.7rem;
}
.section-5__title {
  display: inline-block;
  border-bottom: 3px solid #ffce50;
  padding-bottom: 2.4rem;
  color: #363738;
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.section-5__text {
  max-width: 568px;
  padding-top: 2.4rem;
  color: #6b6b6c;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.section-6 {
  margin-bottom: 10rem;
  color: #363738;
}

.section-6__main-title {
  padding-bottom: 9rem;
  font-family: Exo 2;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.section-6__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 93px;
  max-width: 1212px;
  margin: 0 auto;
}
.section-6__card {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-6__title {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.section-6__text {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (max-width: 768px) {
  .section-6__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 257px;
    max-width: 687px;
  }
  @media screen and (max-width: 400px) {
    .section-6__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 345px;
      gap: 48px;
    }
    .section-6__card {
      justify-content: baseline;
    }
    .section-6__content :nth-child(5) {
      display: none;
    }
    .section-6__content :nth-child(6) {
      display: none;
    }
    .section-6__content :nth-child(7) {
      display: none;
    }
    .section-6__content :nth-child(8) {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .section-5__content {
    padding-left: 1.5rem;
  }
  .section-5__card {
    gap: 0;
    padding-right: 7.6rem;
    padding-left: 8.5rem;
  }
  .section-5__main-title {
    font-family: Exo 2;
    font-size: 44px;
    font-weight: 600;
    line-height: 55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-5__title {
    font-family: Exo 2;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-5__text {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-5__img {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .section-5__img {
    display: none;
  }
  .section-5__card {
    gap: 0;
    padding-right: 2.43rem;
    padding-left: 4.75rem;
  }
  .section-5__main-title {
    font-family: Exo 2;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-5__title {
    font-family: Exo 2;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-5__text {
    font-family: PT Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .section-5__content {
    padding-left: 1.6rem;
  }
}
